
.back-header {
  width: 95%;
  padding: 2.5%;
  padding-top: 5%;
  padding-bottom: 5%;

  .back {
    width: 20%;

    ion-icon {
      font-size: 30px;
      vertical-align: middle;
    }
  }

  .LogoHeader {
    width: 70%;
    display: inline-block;

    h4 {

    }
  }


}
