.add-review {
  padding: 2.5%;
  margin: 5%;
  width: 90%;
  border: 2px solid #e7e8e9fb;
  border-radius: 10px;

  .star-rating {
    display: flex;
    justify-content: center;

  }

  .review {
    width: 100%;

    ion-item {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    ion-button {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

}
