<ion-content [fullscreen]="true">
  <div class="settings">
    <ion-list>
      <ion-item>
        <ion-label>Cambiar Nombre</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cambiar Email</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-item>
    </ion-list>
    <div class="exit">
      <ion-button expand="block" (click)="logOut()">
        Log Out
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
