.horizontal-game-list {
  .list-title {
  }

  .game-list {
    .game {
      list-style: none;
      padding: 2.5%;
      margin:1%;
      margin-top: 2.5%;
      background: #eee9e9;
      border-radius: 5px;
      height: 100px;
      .title {
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;

        h4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      hr {
        margin: 1%;
        background: rgb(160, 160, 160);
      }

      .info {
        width: 100%;

        div {
          justify-content: space-around;
          display: flex;
          margin-top: 10px;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
            padding: 1.5%;
            border-radius: 5px;
            color: azure;
            overflow: hidden;

            ion-icon {
              margin-right: 5%;
            }
          }

          .type {
            background: #69c495;
          }

          .players {
            background: #a18785;
          }

        }


      }
    }
  }

  .load-more {
    list-style: none;
    padding: 2.5%;
    margin: 1%;
    margin-top: 2.5%;
    border: #eee9e9 solid 1.5px;
    border-radius: 5px;
    height: 100px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    .title {
      width: 100%;
      text-align: center;
      vertical-align: middle;

      h4 {
            vertical-align: middle;

      }

    }
  }
}
