.edit-review-modal {
  padding: 5%;

  h1 {
    text-align: center;
  }

  form {
    .star-rating {
      display: flex;
      justify-content: center;

    }
    .save {
      padding-top: 5%;

      ion-button {
        ion-icon {
          margin-left: 2.5%;
        }
      }
    }
  }
}
