<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-ludus-header type="back"></app-ludus-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <form [formGroup]="addGameForm" (ngSubmit)="addGame()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>maxPlayers</ion-label>
      <ion-input type="text" name="maxPlayers" formControlName="maxPlayers"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genders</ion-label>
      <ion-select multiple="true" id="selectGenders">
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>minPlayers</ion-label>
      <ion-input type="number" name="minPlayers" formControlName="minPlayers"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>maxPlayers</ion-label>
      <ion-input type="text" name="maxPlayers" formControlName="maxPlayers"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea name="description" formControlName="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add Game</button>
  </form>
</ion-content>
