<li class="review">
  <div class="top">
    <h5 class="open-game" *ngIf="isOpenGameVisible" (click)="openGame(review.id_game)">
      <ion-icon name="return-up-back-outline">
      </ion-icon>{{ review.id_game | getGameName | async}}
    </h5>

    <div class="info">
      <h4>{{review.id_user | getUserName | async}}</h4>
      <span>
        <ion-icon color="warning" name="star" *ngFor="let x of [].constructor(review.rating)"></ion-icon>
      </span>
    </div>
    <div class="options" *ngIf="imTheOwnerOfTheReview">
      <div class="icon">
        <ion-icon name="pencil-outline" *ngIf="imTheOwnerOfTheReview" (click)="presentModal(review)"></ion-icon>
      </div>
      <div class="icon">
        <ion-icon name="trash-outline" *ngIf="imTheOwnerOfTheReview" (click)="presentConfirmDeleteToast(review.id)">
        </ion-icon>
      </div>
    </div>
  </div>

  <div class="bottom">
    <p>{{review.text}}</p>
  </div>
</li>


