.review {
  margin-top: 10px;
  padding: 5%;
  list-style: none;
  background: #e7e8e9fb;
  border-radius: 5px;


  .top {
    width: 100%;
    display: flex;
    justify-content:space-between;

    .info {

      h4 {
        margin: 0px;
        font-size: 12px;
        padding-bottom: 2.5px;
      }

      span {
      }
    }

    .options {
      display: flex;
      justify-content: flex-end;

      .icon {
        margin-left: 10px;
      }

    }

  }

  .bottom {
    padding-top: 10px;
    font-size: 13px;
  }
}
