

<ion-content [fullscreen]="true">
  <div class="main">

  <app-seeker></app-seeker>

  <app-special-game-view
    *ngIf="(!((searchResultsGames$ | async ) != null) && exploreGames.special_game1$ | async)"
    [title]="'Patrocinado'"
    [game]="exploreGames.special_game1$ | async"
  ></app-special-game-view>

   <app-horizontal-game-list
    *ngIf="(!((searchResultsGames$ | async ) != null) && exploreGames.popular_games$ | async)"
    [title]="'Más Populares'"
    [games]="exploreGames.popular_games$ | async"
  ></app-horizontal-game-list>

  <app-horizontal-game-list
    *ngIf="(!((searchResultsGames$ | async ) != null) && exploreGames.quick_games$ | async)"
    [title]="'Rápidos'"
    [games]="exploreGames.quick_games$ | async"
  ></app-horizontal-game-list>

  <app-special-game-view *ngIf="(!((searchResultsGames$ | async ) != null) && exploreGames.special_game2$ | async)"
    [title]="'Patrocinado'"
    [game]="exploreGames.special_game2$ | async">
  </app-special-game-view>

  <app-horizontal-game-list
    *ngIf="(!((searchResultsGames$ | async ) != null) && exploreGames.card_games$) | async"
    [title]="'De Cartas'"
    [games]="exploreGames.card_games$ | async"
  ></app-horizontal-game-list>

  <app-vertical-game-list
    *ngIf="searchResultsGames$ | async"
    [title]="'Resultados'"
    [games]="searchResultsGames$ | async"
  ></app-vertical-game-list>

</div>


