.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    width: 80%;

    .title {
      padding-bottom: 5%;
      text-align: center;
    }

    .form {
      width: 100%;
      padding-bottom: 10%;

      ion-item {
        margin-bottom: 10%;
      }
    }

    .external-login {
      padding-bottom: 10%;

      p {
        text-align: center;
        padding: 5%;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          list-style: none;
          margin-left: 2.5%;
          margin-right: 2.5%;
        }
      }
    }

    .register{
      text-align: center;
    }
  }
}
