  <div class="main">
    <div class="login">
      <div class="title">
        <h2>Entrar</h2>
      </div>



      <div class="external-login">
        <p>O entra con</p>
        <ul>
          <li>
            <ion-button size="large" color="light" (click)="loginWithGoogle()">
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </li>
        </ul>
      </div>

      <div class="register">
        <span>¿ Todavía no tienes una cuenta ? <a (click)="goToRegister()">Regístrate</a></span>
      </div>

    </div>
  </div>
