<li class="review" [class.replyQuestion]="question.id_question">
  <div class="container">
    <div class="top">
      <h4>{{username}}</h4>
      <span (click)="reply()">
        <ion-icon name="reader-outline"></ion-icon>
      </span>
    </div>
    <div class="bottom">
      <p>{{question.text}}</p>
    </div>
  </div>
  <div class="reply" *ngIf="replyVisible">
    <ion-item>
      <ion-textarea id="reply{{question.id}}"></ion-textarea>
    </ion-item>
    <ion-button (click)="sendReply()">
      Enviar
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>
</li>

