<div class="change-name-modal">
  <h1>{{title}}</h1>

  <form [formGroup]="form" (ngSubmit)="send(form.value)">
    <div class="inputs">
      <!-- <ion-item>
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input type="password" formControlName="current_password"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" formControlName="new_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
        <ion-input type="password" formControlName="confirm_new_password"></ion-input>
      </ion-item>
    </div>

    <div class="save">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Guardar
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
</div>
