<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-ludus-header titleHeader="Profile"></app-ludus-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile">

    <div class="info">
      <div class="top">
        <h4>{{ user.name }}</h4>
        <ion-icon name="settings-outline" (click)="toggleFilterModal()"></ion-icon>
      </div>
      <div class="bottom">
        <h5>{{ user.email }}</h5>
      </div>
    </div>
    <div class="main">
      <ion-segment color="secondary">
        <ion-segment-button value="standard">
          <ion-label>Favoritos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hybrid">
          <ion-label>Comentarios</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sat">
          <ion-label>Preguntas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="isSettingsModalOpen" [breakpoints]="[0.1, 0.8, 1]" [initialBreakpoint]="0.8">
  <ng-template>
    <app-settings-modal></app-settings-modal>
  </ng-template>
</ion-modal>
