
<ion-content [fullscreen]="true" *ngIf="user">
  <div class="profile">

    <div class="info">
      <div class="top">
        <h4>{{ user.name }}</h4>
        <ion-icon name="settings-outline" (click)="toggleFilterModal()"></ion-icon>
      </div>
      <div class="bottom">
        <h5>{{ user.email }}</h5>
      </div>
    </div>
    <div class="main">
      <ion-segment (ionChange)="toggleComments($event)" value="reviews">
        <ion-segment-button value="reviews">
          <ion-label>Opiniones</ion-label>
        </ion-segment-button>
        <ion-segment-button value="questions">
          <ion-label>Preguntas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <app-review-list *ngIf="isReviewsVisible" [userId]="user.id"></app-review-list>
  <div *ngIf="isQuestionsVisible" style="padding-bottom: 15%; padding-top: 15%;text-align: center;">
    <h3>Próximamente</h3>
  </div>
</ion-content>

<ion-modal [isOpen]="isSettingsModalOpen" [breakpoints]="[0.1, 0.8, 1]" [initialBreakpoint]="0.8">
  <ng-template>
    <app-settings-modal ></app-settings-modal>
  </ng-template>
</ion-modal>
