<div class="grid-game-list" *ngIf="ids_games">
  <div class="list-title" *ngIf="ids_games.length > 0">
    <h2>{{ title }}</h2>
  </div>

  <ul class="game-list" *ngIf="ids_games.length > 0; else elseBlock">
    <li class="game" *ngFor="let id_game of ids_games; index as i">
      <div *ngVar="(id_game | getGame) | async as game">
        <div class="fav-game" *ngIf="game" (click)="openGame(game)">
          <div class="title">
            <h4>{{ game.name }}</h4>
            <ion-icon name="bookmark" (click)="removeGameToFavs(game); $event.stopPropagation()"></ion-icon>
          </div>
          <hr>
          <div class="info">
            <div>
              <p class="players">
                <ion-icon name="man"></ion-icon>
                {{ game.min_players + "-" +  game.max_players }}
              </p>
              <p class="time">
                <ion-icon name="time"></ion-icon>
                {{ game.min_time + "-" +  game.max_time }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #elseBlock>
    <div class="any-result">
      <div class="message-box">
        <div class="icon">
          <ion-icon name="bookmark-outline"></ion-icon>
        </div>
        <div class="message">
          <h2>Aún no has guardado ningún juego</h2>
        </div>
      </div>
    </div>
  </ng-template>
</div>
