.grid-game-list {
  padding: 5%;

  .list-title {
    text-align: center;
    padding: 2.5%;
  }

  .game-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .game {
      list-style: none;
      padding: 2%;
      margin: 2%;
      background: #eee9e9;
      border-radius: 5px;
      margin-top: 2.5%;

      .title {
        width: 95%;
        padding: 5%;
        justify-content: space-between;
        display: flex;
        align-items: center;

        ion-icon {
          width: 20px;
          height: 20px;
        }
      }

      hr {
        margin: 1%;
        background: rgb(160, 160, 160);
      }

      .info {
        width: 100%;

        div {
          justify-content: space-around;
          display: flex;
          margin-top: 10px;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
            padding: 1.5%;
            border-radius: 5px;
            color: azure;
            overflow: hidden;

            ion-icon {
              margin-right: 5%;
            }
          }

          .type {
            background: #69c495;
          }

          .players {
            background: #a18785;
          }

          .time {
            background: #f0d560;
          }

        }


      }
    }
  }


  .any-result {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .message-box {
      padding: 5%;
      width: 75%;
      .icon {
        width: 100%;
        display: flex;
        justify-content: center;

        ion-icon {
          width: 30px;
          height: 30px;
        }
      }

      .message {
        width: 100%;
        text-align: center;
      }
    }
  }
}


