

<ion-content [fullscreen]="true">
  <div class="main">

  <app-seeker></app-seeker>

   <app-horizontal-game-list
    *ngIf="(!(searchResultsGames$ | async ) && exploreGames.popular_games$ | async)"
    [title]="'Más Populares'"
    [games]="exploreGames.popular_games$ | async"
  ></app-horizontal-game-list>

  <app-horizontal-game-list
    *ngIf="(!(searchResultsGames$ | async ) && exploreGames.quick_games$ | async)"
    [title]="'Rápidos'"
    [games]="exploreGames.quick_games$ | async"
  ></app-horizontal-game-list>

  <app-horizontal-game-list
    *ngIf="(!(searchResultsGames$ | async ) && exploreGames.card_games$) | async"
    [title]="'De Cartas'"
    [games]="exploreGames.card_games$ | async"
  ></app-horizontal-game-list>

  <app-vertical-game-list
    *ngIf="searchResultsGames$ | async"
    [title]="'Resultados'"
    [games]="searchResultsGames$ | async"
  ></app-vertical-game-list>

</div>


