  <div class="main">
    <div class="register">
      <div class="title">
        <h2>Registro</h2>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="register(form.value)">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirma la Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <div>
          <ion-button [disabled]="form.invalid" color="tertiary" shape="round" expand="full" type="submit">Registrarse</ion-button>
        </div>
      </form>

      <div class="login">
        <span> ¿ Ya tienes una cuenta ? <a (click)="goToLogin()">Entra</a></span>
      </div>
    </div>

  </div>
