<ion-list>
  <ion-list-header>
    <ion-label>
      <h1>Filtrar</h1>
    </ion-label>
  </ion-list-header>

  <form [formGroup]="form" (ngSubmit)="send(form.value)">
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genders" multiple="true" cancelText="Cancelar" okText="OK">
        <ion-select-option *ngFor="let gender of genders" value="{{gender.id}}">{{gender.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="types" multiple=" true" cancelText="Cancelar" okText="OK">
        <ion-select-option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Filtrar</ion-button>
  </form>
</ion-list>
