<ion-list>
  <ion-list-header>
    <ion-label>
      <h1>Filtrar</h1>
    </ion-label>
  </ion-list-header>

  <form [formGroup]="form" (ngSubmit)="send(form.value)" *ngIf="filter">

    <!-- <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="types" multiple=" true" cancelText="Cancelar" okText="OK">
        <ion-select-option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genders" multiple="true" cancelText="Cancelar" okText="OK" [(ngModel)]="filter.genders">
        <ion-select-option *ngFor="let gender of genders" value="{{gender.id}}">{{gender.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Jugadores Máximos</ion-label>
      <ion-select formControlName="players" cancelText="Cancelar" okText="OK" [(ngModel)]="filter.players">
        <ion-select-option *ngFor="let player of players" value="{{player}}">{{player}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Tiempo Máximo</ion-label>
      <ion-select formControlName="time" cancelText="Cancelar" okText="OK">
        <ion-select-option *ngFor="let time of times" value="{{time}}">{{time}}</ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Complejidad</ion-label>
      <ion-select formControlName="complexity" cancelText="Cancelar" okText="OK" [(ngModel)]="filter.complexity">
        <ion-select-option *ngFor="let complexity of complexities" value="{{complexity.id}}">{{complexity.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" color="dark" type="reset" (click)="reset()">Limpiar Filtros
    </ion-button>
    <ion-button expand="block" type="submit" [disabled]="!formHasChanged">Filtrar</ion-button>
  </form>
</ion-list>
